<head>Продукти</head>

<table>
  <thead>
  <th>Назва</th>
  <th>Ціна</th>
  </thead>

  <% @products.each do |product| %>
      <tr>
        <td>
          <%= link_to product.title, product_path(product) %>
        </td>

        <td>
          <%= product.price %>
        </td>
      </tr>
  <% end %>
</table>

